.profile {
  position: relative;
  margin: 40px auto 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .profile {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
}
