.profile__addbutton {
  border: 2px solid #ffffff;
  background: #000;
  box-sizing: border-box;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  align-self: center;
  margin-left: auto;
  background-image: url(../../../images/profile__addbutton.svg);
  background-size: 22px 22px;
  background-position: center center;
  object-fit: cover;
  background-repeat: no-repeat;
}

.profile__addbutton:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__addbutton {
    width: 282px;
    margin: 33px 19px 0;
    justify-self: center;
    background-size: 16px 16px;
  }
}
