.error {
display: block;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #f00;
margin-top: 1px;
max-width: 358px;
height: 8px;
width: 100%;
margin: 1px auto 24px;
}
